header {
    position: absolute;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
}
.header-title {
    display: flex;
    align-items: center;
    padding: 0% 170px;
}
#header-title-text {
    color: #18193F;
    font-family: 'HeadLineA';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 50px */
    letter-spacing: 0.4px;
}
.containers {
    width: 100%;
    height: 100%;
    padding: 0% 170px;
    box-sizing: border-box;
    overflow: hidden;
}
.main-container {
    display: flex;
    align-items: flex-end;
    background: rgba(254, 206, 0, 0.83);
    backdrop-filter: blur(6.5px);
    position: relative;
    justify-content: space-between;
    height: 795px;
}
#main-container-block {
    width: 60%;
    height: 687px;
    z-index: 2;
}
#main-container-img {
    width: 528px;
    height: 687px;
    flex-shrink: 0;
    z-index: 2;
}
#main-container-bakcground-img-first {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    background: url(../images/granos-cafe-768-x-4802.png), transparent 50% / cover;
    background-repeat: no-repeat;
    z-index: 1;
}
#main-container-bakcground-img-second {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    background: url(../images/granos-cafe-768-x-4801.png), transparent;
    filter: blur(0px);
    background-repeat: no-repeat;
    background-position-x: right;
    z-index: 1;
}
#main-container-background-block {
    display: none;
}
#main-container-block h1 {
    color: #232323;
    font-family: 'Museo Sans Cyrl';
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.76px;
    width: 629px;
}
#main-container-block h2 {
    color: #232323;
    font-family: 'Museo Sans Cyrl';
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.4px;
    width: 501px;
}
.main-container-calendar-block {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 50px 0px;
}
.main-container-calendar {
    display: flex;
    justify-content: space-evenly;
    width: 49%;
    border-radius: 10px;
    background: rgba(66, 66, 66, 0.80);
}
.main-container-calendar div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#main-container-calendar-day-start, #main-container-calendar-day-end {
    color: #FFF;
    font-family: 'Helvetica Neue';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.6px;
    margin: 0;
}
#main-container-calendar-month-start, #main-container-calendar-month-end {
    color: #FFF;
    font-family: 'Helvetica Neue';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.72px;
    margin: 0;
}
.main-container-calendar-text {
    color: #D2E400;
    font-family: 'Museo Sans Cyrl';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
    margin: 0;
}
.main-container-buttons-block {
    width: 93%;
    display: flex;
    justify-content: space-between;
    margin: 40px 0px;
}
.main-container-buttons {
    width: 49%;
    height: 70px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: 'Helvetica Neue';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#main-container-button-about {
    border-radius: 5px;
    background: #E10000;
    border: none;
}
#main-container-button-free-сonsultation {
    color: #000;
    border-radius: 5px;
    border-width: 1px;
    border-color: #171717;
    background-color: transparent;
}

.second-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 0px;
}
.second-container #second-container-title {
    color: #181818;
    text-align: center;
    font-family: 'Helvetica Neue';
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 44.4px */
}
#second-container-block {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0% 170px;
    box-sizing: border-box;
}
#promo_prices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
    padding: 0;
}

#promo_prices .promo_prices_items {
    width: 24%;
    border-radius: 10px;
    border: 1px solid rgba(72, 72, 72, 0.40);
    background: rgba(196, 196, 196, 0.00);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.promo_prices_items .promo_prices_items_title {
    color: #1B002F;
    font-family: 'Helvetica Neue';
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 108%; /* 28.08px */
    margin-top: 0px;
}
.promo_prices_items .promo_prices_items_price_block {
    position: relative;
    width: 100%;
}
.promo_prices_items .promo_prices_items_price {
    color: #1B002F;
    font-family: 'Helvetica Neue';
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 108%; /* 54px */
    margin: 0;
    width: 100%;
}
.promo_prices_items .promo_prices_items_discount {
    color: #FFF;
    text-align: center;
    font-family: 'Helvetica Neue';
    font-size: 18.742px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.427px; /* 125% */
    position: absolute;
    top: 50%;
    right: 20%;
    background: red;
    margin: 0;
    padding: 5px;
    border-radius: 5px;
}
.promo_prices_items .promo_prices_items_oldprice {
    color: #A7ACBF;
    font-family: 'Helvetica Neue';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 108%; /* 25.92px */
    text-decoration: line-through;
    text-decoration-color: #F22;
    width: 100%;
    list-style-type: none;
    margin: 0;
}
.promo_prices_items .promo_prices_items_description {
    list-style-type: none;
    width: 100%;
    margin: 40px 0px;
    padding: 0;
}
.promo_prices_items .promo_prices_items_description li {
    color: #2A2A2A;
    font-family: 'Montserrat';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.promo_prices_items .promo_prices_items_description svg {
    margin-right: 8px;
}
.promo_prices_items .promo_prices_items_description_mains {
    color: #1B002F !important;
    font-weight: 600 !important;
}
.promo_prices_items .promo_prices_items_prepay_title {
    color: #A7ACBF;
    font-family: 'Helvetica Neue';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 108%; /* 23.76px */
    margin: 0;
    width: 100%;
}
.promo_prices_items .promo_prices_items_prepay {
    color: #1B002F;
    font-family: 'Helvetica Neue';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 108%; /* 34.56px */
    margin: 0;
    width: 100%;
}
.promo_prices_items button {
    border: none;
    border-radius: 10px;
    background: #E10000;
    height: 66px;
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px; /* 164.286% */
    text-transform: uppercase;
    margin-top: 16px;
    width: 100%;
}

.third-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F5C618;
    padding: 20px 0px;
}
.third-container h1 {
    color: #151515;
    font-family: 'Helvetica Neue';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 32px */
    margin-bottom: 0px;
}
.third-container h4 {
    color: #151515;
    text-align: center;
    font-family: Montserrat;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 23.1px */
    width: 338px;
}
.third-container form {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.third-container input {
    width: 553px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    color: #686868;
    font-family: 'Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 24px */
    letter-spacing: 0.24px;
    margin-bottom: 8px;
    border: none;
    text-align: center;
}
.third-container button {
    width: 553px;
    height: 80px;
    border-radius: 10px;
    background: #E10000;
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px; /* 76.667% */
    text-transform: uppercase;
    border: none;
}
.third-container p {
    color: #151515;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 16px */
    width: 567px;
}
.third-container #successMessage, .third-container #errorMessage {
    margin: 275px 0px;
    color: #151515;
    font-family: 'Helvetica Neue';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 32px */
}

footer {
    background: #2A2A2A;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0px;
}
.footer-title {
    display: flex;
    align-items: center;
}
#footer-title-text {
    color: #F3F3F3;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'HeadLineA';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 50px */
    letter-spacing: 0.4px;
}
footer h4 {
    color: #FFF;
    text-align: center;
    font-family: 'Helvetica Neue';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 39.6px */
    letter-spacing: -0.44px;
    text-transform: uppercase;
    width: 697px;
}
footer .footer-adress {
    color: #FFF;
    text-align: center;
    font-family: 'Helvetica Neue';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.32px;
    width: 797px;
}
footer ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    align-items: center;
}
footer ul li {
    margin: auto 4px;
    cursor: pointer;
}